body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  background-position: center;
  font-family: Arial, sans-serif;
  background-color: #fef4f4;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
    background-color: #D6AEDD;
    padding: 20px;
    text-align: center;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main section styles */
main {
    padding: 40px;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.intro .text {
    flex: 1;
    padding: 20px;
}

.intro h2 {
    font-size: 28px;
    color: #F16B93;
}

.intro h1 {
    font-size: 48px;
    color: #5F4B8B;
    font-weight: bold;
    margin-top: 10px;
}

.intro p {
    font-size: 20px;
    color: white;
}

.intro ol {
    padding-left: 20px;
	color: #ccccff; 
}
.objectives {
    background-color: #5F4B8B; /* Purple background */
    color: white; /* White text */
    padding: 20px;
    border-radius: 10px; /* Optional: to give rounded corners */
}

.objectives ol {
    padding-left: 20px;
    margin-top: 10px;
}

.objectives li {
    font-size: 18px;
    margin-bottom: 10px;
	color:white;
}

.intro button {
    background-color: #F16B93;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
}

.intro button a {
    text-decoration: none;
    color: white;
}

.intro button:hover {
    background-color: #F0506B;
}

.intro .image img {
    width: 450px;
    height: auto;
    border-radius: 10px;
}

/* Footer styles */
footer {
    background-color: #D6AEDD;
    text-align: center;
    padding: 10px;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
}

footer p {
    margin: 0;
}

nav a {
    color: #5a4a42; /* Default link color */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:visited {
    color: #5a4a42; /* Same color for visited links */
}

nav a:hover {
    color: #963a92; /* Color when hovering */
    text-decoration: underline;
}

nav a:active {
    color: #ffffff; /* Color when active (clicked) */
}