/*Base styles*/
body{
	font-family: Arial, sans-serif;
	font-size: 14px;
}

/*Header styles*/
header{
	background-color: lightgray;
	padding: 20px;
	text-align: center;
}

/* Section Styles*/
section{
	margin: 20px;
}

/*Footer Styles*/
footer{
	background-color: lightgray;
	padding: 10px;
	text-align: center;
}
h2{
	color: darkblue;
}
.highlight{
	background-color: yellow;
}
h1{
	color: blue; important!;
}
a:link{
	color:red;
}
a:hover{
	color:orange;
}
p:first-line{
	font-weight: bold;
}
#header{
	border-bottom: 5px solid red;
	border-top: 5px solid red;
}